# SPDX-FileCopyrightText: 2021-2025 The Ikarus Developers ikarus@ibb.uni-stuttgart.de
# SPDX-License-Identifier: CC0-1.0

/.devcontainer
docker-compose.yml
.clangd

/build*
/.vscode
/cpm_modules
.DS_Store
.idea/
cmake-build-debug/
*cmake-build*
cmake-build-debug-dockerfull/
cmake-build-debug-dockerfulldocs/
cmake-build-release/
cmake-build-release-dockerfull/
cmake-build-relwithdebinfo/
docs/website/drawio-exporter
*.pyc
.cache/

ikarus/python/test/setpath.py
python/pyikarus.egg-info/
dist/
_skbuild/
MANIFEST.in
*.vtu
*.vtr