name: Debian
on:
  push:
    paths-ignore:
      - 'docs/**'
      - '.github/workflows/ghpages.yml'
jobs:
  Build:
    name: ${{ matrix.config.name }}
    runs-on: ubuntu-latest
    container:
      image: rath3t/ikarus-debian-bookworm:latest
      options: --memory-swap="20g" --memory="20g" --cpus="2"
    strategy:
      fail-fast: false
      matrix:
        config:
#          - {
#            name: "Clang-Debug",
#            config: Debug,
#            compilerC: clang-12,
#            compilerCxx: clang++-12,
#            lib: "-stdlib=libc++",
#           }
#          - {
#            name: "Clang-Release",
#            config: Release,
#            compilerC: clang-12,
#            compilerCxx: clang++-12,
#            lib: "-stdlib=libc++",
#           }
          - {
            name: "GCC-Debug",
            config: Debug,
            compilerC: cc,
            compilerCxx: c++,
            lib: ""
          }
          - {
            name: "GCC-Release",
            config: Release,
            compilerC: cc,
            compilerCxx: c++,
            lib: ""
          }
    steps:
      - uses: actions/checkout@v2
        with:
         path: 'repo'
      - name: Build
        working-directory: ./repo
        run: |
          mkdir cmake-build-${{ matrix.config.config }}
          cd cmake-build-${{ matrix.config.config }}
          cmake ../  -DCMAKE_BUILD_TYPE=${{ matrix.config.config }} -G "Unix Makefiles" -DCMAKE_C_COMPILER=${{ matrix.config.compilerC }} -DCMAKE_CXX_COMPILER=${{ matrix.config.compilerCxx }}
          cmake --build . --parallel 2 --target IkarusTests
      - name: Tests
        working-directory: ./repo/cmake-build-${{ matrix.config.config }}
        run: ctest --output-on-failure --parallel 2 -C ${{ matrix.config.config }}
