# SPDX-FileCopyrightText: 2021-2023 The Ikarus Developers mueller@ibb.uni-stuttgart.de
# SPDX-License-Identifier: CC0-1.0

name: Docs

on:
  push:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: 'repo'
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Setup Mkdocs
        run: |
          pip install mkdocs
          pip install git+https://${{ secrets.MKDOCS_TOKEN }}@github.com/squidfunk/mkdocs-material-insiders.git
          pip install mkdocs-macros-plugin
          pip install mkdocs-drawio-exporter
          pip install mkdocs-glightbox
          pip install mike
          pip install mkdocs-bibtex
          pip install pillow cairosvg
          sudo apt-get install libcairo2-dev libfreetype6-dev libffi-dev libjpeg-dev libpng-dev libz-dev
          #wget https://github.com/jgraph/drawio-desktop/releases/download/v16.5.1/drawio-amd64-16.5.1.deb
          #sudo apt-get install libayatana-appindicator3-1 libnotify4
          #sudo dpkg -i drawio-amd64-16.5.1.deb
          #sudo apt-get -y -f install
          #sudo apt install libasound2 xvfb

      - name: Build Website
        run: |
          git clone https://github.com/ikarus-project/ikarus-project.github.io.git
          cd ikarus-project.github.io
          git fetch origin gh-pages --depth=1
          cp -R ../repo/docs/ .
          cp -R ../repo/ikarus/ .
          git config --local user.email "${{ github.event.head_commit.author.email }}"
          git config --local user.name "${{ github.event.head_commit.author.name }}"
          cd docs
          mike deploy dev --config-file mkdocs.insiders.yml
          git remote set-url origin https://${{ secrets.ORGANIZATION_TOKEN }}@github.com/ikarus-project/ikarus-project.github.io.git
          git push origin gh-pages 
#          git commit --amend -m "Deploy dev at ${{ github.event.head_commit.message }} ikarus-project/ikarus@${{ github.event.head_commit.id }}"

