name: CodeStyle

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - master
      - main
    paths-ignore:
      - 'docs/**'

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}
      - uses: actions/checkout@v2
        with:
         path: 'repo'
      - name: Install format dependencies
        run: |
          sudo cp /usr/bin/clang-format-12 /usr/bin/clang-format
          pip3 install cmake_format==0.6.13 pyyaml

      - name: configure
        run: cmake -S "cmake/FormatTarget" -Bbuild -DADD_FORMATTARGET=TRUE

      - name: check style
        run: |
          cmake --build build --target format
          cmake --build build --target check-format
