# SPDX-FileCopyrightText: 2022 The Ikarus Developers mueller@ibb.uni-stuttgart.de
# SPDX-License-Identifier: CC0-1.0

name: CodeStyle

on:
  push:
    branches:
      - master
      - main
    paths-ignore:
      - 'docs/**'
      - '.github/workflows/ghpages.yml'
  pull_request:
    branches:
      - master
      - main
    paths-ignore:
      - 'docs/**'
      - '.github/workflows/ghpages.yml'

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v2
        with:
          path: "**/cpm_modules"
          key: ${{ github.workflow }}-cpm-modules-${{ hashFiles('**/CMakeLists.txt', '**/*.cmake') }}
      - uses: actions/checkout@v2
        with:
         path: 'repo'
      - name: Install format dependencies
        run: |
          sudo cp /usr/bin/clang-format-13 /usr/bin/clang-format
          pip install cmake_format==0.6.13 pyyaml
          pip install black==23.3.0

      - name: configure
        run: cmake -S "cmake/FormatTarget" -Bbuild -DADD_FORMATTARGET=TRUE -DADD_PYTHONFORMATTING=1

      - name: check style
        run: |
          cmake --build build --target format
          cmake --build build --target check-format
          cmake --build build --target check-pythonformat
